In [33]:
import pandas as pd
import numpy as np
df = pd.read_csv('SAMA_Cleaned (2).csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   period                110 non-null    object
 1   open_funds_count      79 non-null     float64
 2   open_funds_assets     79 non-null     float64
 3   closed_funds_count    79 non-null     float64
 4   closed_funds_assets   79 non-null     float64
 5   total_funds_count     87 non-null     float64
 6   total_assets          87 non-null     float64
 7   local_shares          110 non-null    float64
 8   foreign_shares        110 non-null    float64
 9   local_bonds           110 non-null    float64
 10  foreign_bonds         110 non-null    float64
 11  local_funds           110 non-null    float64
 12  foreign_funds         110 non-null    float64
 13  local_other           110 non-null    float64
 14  foreign_other         110 non-null    float64
 15  local_real_estate     70 non-null     float64
 16  total_assets_by_type  110 non-null    float64
 17  active_funds_count    110 non-null    int64
 18  subscribers_count     110 non-null    int64
 19  local_assets_total    110 non-null    float64
 20  foreign_assets_total  110 non-null    float64
 21  grand_total_assets    110 non-null    float64
dtypes: float64(19), int64(2), object(1)
memory usage: 19.0+ KB
None

In [34]:
df['period'] = pd.to_datetime(df['period'])
df = df.fillna(0)

In [35]:
df['local_pct'] = (df['local_assets_total'] / df['total_assets'] * 100).round(2)
df['foreign_pct'] = (df['foreign_assets_total'] / df['total_assets'] * 100).round(2)
df = df.replace([np.inf, -np.inf], 0).fillna(0)

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   period                110 non-null    datetime64[ns]
 1   open_funds_count      110 non-null    float64
 2   open_funds_assets     110 non-null    float64
 3   closed_funds_count    110 non-null    float64
 4   closed_funds_assets   110 non-null    float64
 5   total_funds_count     110 non-null    float64
 6   total_assets          110 non-null    float64
 7   local_shares          110 non-null    float64
 8   foreign_shares        110 non-null    float64
 9   local_bonds           110 non-null    float64
 10  foreign_bonds         110 non-null    float64
 11  local_funds           110 non-null    float64
 12  foreign_funds         110 non-null    float64
 13  local_other           110 non-null    float64
 14  foreign_other         110 non-null    float64
 15  local_real_estate     110 non-null    float64
 16  total_assets_by_type  110 non-null    float64
 17  active_funds_count    110 non-null    int64
 18  subscribers_count     110 non-null    int64
 19  local_assets_total    110 non-null    float64
 20  foreign_assets_total  110 non-null    float64
 21  grand_total_assets    110 non-null    float64
 22  local_pct             110 non-null    float64
 23  foreign_pct           110 non-null    float64
dtypes: datetime64[ns](1), float64(21), int64(2)
memory usage: 20.8 KB
None

In [37]:
df.head(50)

,period,open_funds_count,open_funds_assets,closed_funds_count,closed_funds_assets,total_funds_count,total_assets,local_shares,foreign_shares,local_bonds,...,foreign_other,local_real_estate,total_assets_by_type,active_funds_count,subscribers_count,local_assets_total,foreign_assets_total,grand_total_assets,local_pct,foreign_pct
0,1998-01-01,0.0,0.0,0.0,0.0,0.0,0.0,1424.845,3612.703,2072.02,...,3387.30,0.0,21331.289,105,63039,11600.0,9731.0,21331.0,0.00,0.00
1,1998-04-01,0.0,0.0,0.0,0.0,0.0,0.0,1490.643,4042.155,1923.50,...,3531.00,0.0,22631.817,107,65631,12062.0,10570.0,22632.0,0.00,0.00
2,1998-07-01,0.0,0.0,0.0,0.0,0.0,0.0,1375.639,4042.272,2344.60,...,4687.34,0.0,23691.898,116,68039,11754.0,11938.0,23692.0,0.00,0.00
3,1998-10-01,0.0,0.0,0.0,0.0,0.0,0.0,1206.603,4451.868,2494.50,...,5187.87,0.0,25009.287,121,69543,12001.0,13008.0,25009.0,0.00,0.00
4,1999-01-01,0.0,0.0,0.0,0.0,0.0,0.0,1207.865,4387.732,1378.10,...,4932.00,0.0,26131.881,119,75734,12569.0,13562.0,26131.0,0.00,0.00
5,1999-04-01,0.0,0.0,0.0,0.0,0.0,0.0,1188.969,5445.574,1661.60,...,6888.77,0.0,29923.955,122,80227,13811.0,16113.0,29924.0,0.00,0.00
6,1999-07-01,0.0,0.0,0.0,0.0,0.0,0.0,1353.300,5799.854,1887.30,...,7150.15,0.0,31914.004,125,76616,15396.0,16518.0,31914.0,0.00,0.00
7,1999-10-01,0.0,0.0,0.0,0.0,0.0,0.0,1569.000,6686.084,2107.60,...,8544.13,0.0,34682.015,134,79322,15972.0,18710.0,34682.0,0.00,0.00
8,2000-01-01,0.0,0.0,0.0,0.0,0.0,0.0,1586.783,7602.252,2147.20,...,9546.51,0.0,37453.443,136,86358,16670.0,20783.0,37453.0,0.00,0.00
9,2000-04-01,0.0,0.0,0.0,0.0,0.0,0.0,1385.894,7875.709,2301.30,...,9789.13,0.0,38658.968,138,92589,17493.0,21166.0,38659.0,0.00,0.00
10,2000-07-01,0.0,0.0,0.0,0.0,0.0,0.0,1485.465,7427.930,2046.00,...,9671.11,0.0,39223.437,140,94075,18863.0,20360.0,39223.0,0.00,0.00
11,2000-10-01,0.0,0.0,0.0,0.0,0.0,0.0,1360.000,7697.000,7.00,...,12019.00,0.0,38556.000,138,95800,16583.0,21973.0,38556.0,0.00,0.00
12,2001-01-01,0.0,0.0,0.0,0.0,0.0,0.0,1371.000,6396.000,8.00,...,11616.00,0.0,40032.000,139,99251,19629.0,20403.0,40032.0,0.00,0.00
13,2001-04-01,0.0,0.0,0.0,0.0,0.0,0.0,2435.000,6669.000,8.00,...,9863.00,0.0,45421.000,139,174639,25742.0,19679.0,45421.0,0.00,0.00
14,2001-07-01,0.0,0.0,0.0,0.0,0.0,0.0,2334.000,5440.000,8.00,...,9273.00,0.0,45780.000,139,172550,27739.0,18041.0,45780.0,0.00,0.00
15,2001-10-01,0.0,0.0,0.0,0.0,0.0,0.0,2355.000,6844.000,7.00,...,8619.00,0.0,50059.000,138,173999,30416.0,19643.0,50059.0,0.00,0.00
16,2002-01-01,0.0,0.0,0.0,0.0,0.0,0.0,2479.000,6793.000,7.40,...,8913.00,0.0,52175.400,151,171360,32671.0,19504.0,52175.0,0.00,0.00
17,2002-04-01,0.0,0.0,0.0,0.0,0.0,0.0,2598.000,6012.000,7.00,...,8045.00,0.0,52431.000,147,178166,34695.0,17737.0,52432.0,0.00,0.00
18,2002-07-01,0.0,0.0,0.0,0.0,0.0,0.0,2639.000,4882.000,14.00,...,7586.00,0.0,49953.000,134,169040,34004.0,15949.0,49953.0,0.00,0.00
19,2002-10-01,0.0,0.0,0.0,0.0,0.0,0.0,2437.000,5339.000,10.40,...,7139.90,0.0,48826.300,143,165044,32827.0,15998.9,48825.9,0.00,0.00
20,2003-01-01,0.0,0.0,0.0,0.0,0.0,0.0,3739.600,5587.700,9.10,...,7079.40,0.0,50228.600,151,161998,34049.0,16180.0,50229.0,0.00,0.00
21,2003-04-01,0.0,0.0,0.0,0.0,0.0,0.0,4366.100,6463.100,7.70,...,6506.10,0.0,52548.600,153,164467,36456.0,16093.0,52549.0,0.00,0.00
22,2003-07-01,0.0,0.0,0.0,0.0,0.0,0.0,4456.400,6914.400,9.10,...,6345.50,0.0,53359.500,159,168484,36695.0,16665.0,53360.0,0.00,0.00
23,2003-10-01,166.0,53190.0,4.0,676.0,170.0,53866.0,4841.000,7638.000,7.00,...,5773.00,0.0,53866.000,170,172197,37216.0,16650.0,53866.0,69.09,30.91
24,2004-01-01,168.0,53863.0,7.0,1352.0,175.0,55215.0,5764.000,8128.000,9.00,...,5482.00,0.0,55215.000,175,171895,38614.0,16601.0,55215.0,69.93,30.07
25,2004-04-01,166.0,53694.0,7.0,1280.0,173.0,54974.0,6791.000,8258.000,19.00,...,5173.00,0.0,54974.000,173,172693,38723.0,16251.0,54974.0,70.44,29.56
26,2004-07-01,175.0,55549.0,11.0,1589.0,186.0,57138.0,8924.000,8085.000,28.00,...,20074.00,0.0,57138.000,186,184885,41128.0,16010.0,57138.0,71.98,28.02
27,2004-10-01,176.0,58741.0,12.0,1576.0,188.0,60317.0,14572.000,8461.000,27.00,...,4962.00,0.0,60317.000,188,198357,44490.0,15827.0,60317.0,73.76,26.24
28,2005-01-01,176.0,67561.0,13.0,1578.0,189.0,69139.0,24025.000,8574.000,38.00,...,5462.00,0.0,69139.000,189,221762,52935.0,16204.0,69139.0,76.56,23.44
29,2005-04-01,183.0,96484.0,13.0,1370.0,196.0,97854.0,55461.000,8988.000,30.00,...,5264.00,0.0,97854.000,196,406240,81691.0,16163.0,97854.0,83.48,16.52
30,2005-07-01,184.0,112369.0,13.0,1477.0,197.0,113846.0,71588.000,9516.000,27.00,...,5370.00,0.0,113846.000,197,488963,97108.0,16738.0,113846.0,85.30,14.70
31,2005-10-01,188.0,135838.0,11.0,1136.0,199.0,136974.0,89444.000,14667.000,20.00,...,4960.00,0.0,136974.000,199,568284,115661.0,21313.0,136974.0,84.44,15.56
32,2006-01-01,0.0,0.0,0.0,0.0,201.0,141719.0,91368.000,13667.000,1820.00,...,3949.00,0.0,141719.000,201,680629,121115.0,20604.0,141719.0,85.46,14.54
33,2006-04-01,0.0,0.0,0.0,0.0,209.0,111954.0,62576.000,12976.500,1753.00,...,4291.00,0.0,111953.500,209,585602,91333.0,20621.0,111954.0,81.58,18.42
34,2006-07-01,0.0,0.0,0.0,0.0,209.0,100104.0,50007.000,13772.000,1809.50,...,4315.40,0.0,100103.900,209,553684,78512.0,21592.0,100104.0,78.43,21.57
35,2006-10-01,0.0,0.0,0.0,0.0,214.0,84108.0,31960.000,15583.000,1683.00,...,3502.00,0.0,84108.300,214,499968,61343.5,22764.5,84108.0,72.93,27.07
36,2007-01-01,0.0,0.0,0.0,0.0,221.0,79013.0,29354.000,14725.000,133.00,...,3536.40,0.0,79013.400,221,478559,57055.0,21958.0,79013.0,72.21,27.79
37,2007-04-01,0.0,0.0,0.0,0.0,224.0,77767.0,26100.000,15843.000,121.00,...,3311.00,0.0,77767.000,224,449404,53968.0,23799.0,77767.0,69.40,30.60
38,2007-07-01,0.0,0.0,0.0,0.0,234.0,81296.0,28526.000,16187.000,324.00,...,3724.00,0.0,81296.000,234,433008,56490.0,24806.0,81296.0,69.49,30.51
39,2007-10-01,0.0,0.0,0.0,0.0,252.0,105100.0,45206.000,16809.000,531.00,...,4798.50,0.0,105099.500,252,426085,79889.5,25210.5,105100.0,76.01,23.99
40,2008-01-01,234.0,98530.0,26.0,5441.0,260.0,103971.0,39919.000,15168.000,964.00,...,2639.00,463.0,103971.000,260,413936,82989.0,20982.0,103971.0,79.82,20.18
41,2008-04-01,244.0,105433.0,23.0,4414.0,267.0,109847.0,38935.000,16158.000,1156.00,...,1325.00,2922.0,109847.000,267,396340,88222.0,21625.0,109847.0,80.31,19.69
42,2008-07-01,248.0,91335.0,26.0,5904.5,274.0,97239.5,30627.000,12464.000,1267.00,...,4785.00,3938.5,97239.500,274,385956,75165.0,22075.0,97240.0,77.30,22.70
43,2008-10-01,243.0,71652.0,19.0,3162.0,262.0,74814.0,17058.000,9749.000,1618.00,...,995.00,2149.0,74814.000,262,374975,61259.0,13555.0,74814.0,81.88,18.12
44,2009-01-01,238.0,74646.0,15.0,2548.0,253.0,77194.0,15114.000,7821.000,1513.00,...,912.00,1925.0,77194.000,253,371097,64499.0,12695.0,77194.0,83.55,16.45
45,2009-04-01,234.0,87038.0,13.0,1518.0,247.0,88556.0,18136.000,9615.000,1312.00,...,873.00,2103.0,88556.000,247,369245,75199.0,13357.0,88556.0,84.92,15.08
46,2009-07-01,239.0,92505.0,11.0,1365.0,250.0,93870.0,20528.000,9924.000,1913.00,...,1062.00,2300.0,93870.000,250,364306,77820.0,16050.0,93870.0,82.90,17.10
47,2009-10-01,235.0,87929.0,9.0,1619.0,244.0,89548.0,19281.000,10009.000,1960.00,...,974.00,2332.0,89548.000,244,356331,74135.0,15413.0,89548.0,82.79,17.21
48,2010-01-01,232.0,91529.0,9.0,1603.0,241.0,93132.0,22104.000,10191.000,6080.00,...,913.00,2035.0,93132.000,241,349474,77479.0,15653.0,93132.0,83.19,16.81
49,2010-04-01,232.0,97555.0,9.0,1392.0,241.0,98947.0,19712.000,8957.000,2653.00,...,772.00,1785.0,98947.000,241,340515,79508.0,19439.0,98947.0,80.35,19.65

In [38]:
df.to_csv('SAMA_Final_Processed1.csv', index=False)